<section class="home-page">
  <h2 class="home-page__header">Основные товары</h2>
  <div *ngIf="products" class="home-page__products-container products-container">
    <div (click)="openProductDetailPage(product.id)" *ngFor="let product of products" class="products-container__product">
      <img class="products-container__product-image" [src]="product.thumbnail" alt="alt">
      <span class="products-container__product-name">{{product.title}}</span>
      <span class="products-container__product-price">{{product.price}}$</span>
    </div>
  </div>
</section>
