<section class="admin-page">
  <h1 class="admin-page__heading">Администрирование</h1>
  <div class="admin-page__container">
    <div class="admin-page__container-item">
      <div class="admin-page__container-item-icons">
        <img class="admin-page__container-item-icons-main" src="assets/Success.svg" alt="alt">
        <img (click)="openProducts()" class="admin-page__container-item-icons-support" src="assets/Redirect.svg" alt="alt">
      </div>
      <div class="admin-page__container-item-information">
        <div class="admin-page__container-item-information-title">Товары</div>
        <div class="admin-page__container-item-information-description">Редактирование товаров</div>
      </div>
    </div>
    <div class="admin-page__container-divider"></div>
    <div class="admin-page__container-item">
      <div class="admin-page__container-item-icons">
        <img class="admin-page__container-item-icons-main admin-page__container-item-icons-main--additional" src="assets/Part-Success.svg" alt="alt">
        <img class="admin-page__container-item-icons-support" src="assets/Redirect.svg" alt="alt">
      </div>
      <div class="admin-page__container-item-information">
        <div class="admin-page__container-item-information-title">Тестовый раздел (не доступно)</div>
        <div class="admin-page__container-item-information-description">Тестовый раздел для разработчиков</div>
      </div>
    </div>
  </div>
</section>
